.header_container {
  background-color: var(--primary-color);
  padding: 10px;
  z-index: 1;
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  align-items: center;
  position: relative;
}

.runner {
  display: block;
  position: absolute;
  top: -5px;
  height: 40px;
  border-radius: 25px;
  background-color: var(--secondary-color);
  -webkit-box-shadow: 2px 2px 4px 2px rgba(10, 0, 0, 0.49);
  -moz-box-shadow: 2px 2px 4px 2px rgba(10, 0, 0, 0.49);
  -o-box-shadow: 2px 2px 4px 2px rgba(10, 0, 0, 0.49);
  box-shadow: 2px 2px 4px 2px rgba(10, 0, 0, 0.49);
  transition: left 0.3s, width 0.3s;
  z-index: 2;
}

.nav {
  margin-left: auto;
  display: flex;
  transform: translateX(0);
}

.nav_item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  z-index: 3;
}

.nav_item:nth-last-child(-n + 5) {
  margin-left: 20px;
}

.mobile_menu {
  display: none;
}

.button_close {
  display: none;
}

.close_icon {
  display: none;
}

@media (max-width: 1200px) {
  .header_container {
    padding: 8px;
  }

  .runner {
    top: -5px;
    height: 36px;
    border-radius: 20px;
  }

  .nav_item {
    padding-left: 8px;
    padding-right: 6px;
    font-size: 20px;
    font-weight: 500;
  }

  .nav_item:nth-last-child(-n + 5) {
    margin-left: 10px;
  }
}

@media (max-width: 1001px) {
  .nav_item {
    font-size: 18px;
  }
}

@media (max-width: 941px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .runner {
    display: none;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 420px;
    height: 100%;
    background-color: white;
    border: 2px solid var(--secondary-color);
    border-top-left-radius: 16px;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s linear;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }

  .nav.active {
    transform: translateX(1%);
  }

  .nav_item {
    font-size: 25px;
    color: black;
    margin-bottom: 5px;
    width: 50%;
  }

  .nav_item.active {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
  }

  .nav_item:nth-child(n + 2) {
    margin-left: 0;
  }

  .mobile_menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 25px;
    font-weight: 500;
    color: white;
  }

  .button_menu {
    background-color: transparent;
    border: 0;
    position: relative;
    top: 3px;
  }

  .button_menu_icon {
    width: 54px;
    height: 54px;
    color: white;
  }

  .button_close {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px auto;
    border: none;
    background: transparent;
  }

  .close_icon {
    display: block;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 576px) {
  .header {
    padding-left: 0px;
    padding-right: 0px;
  }

  .header_container {
    min-width: 350px;
  }

  .nav {
    width: 95%;
    height: 100%;
  }

  .nav_item {
    width: 70%;
  }

  .menu_text {
    display: none;
  }

  .button_menu {
    top: 0px;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 5px;
  }
}
