@font-face {
  font-family: MPLUSRounded1c;
  font-weight: 100;
  src: url(../public/fonts/MPLUSRounded1c-Thin.ttf);
}

@font-face {
  font-family: MPLUSRounded1c;
  font-weight: 300;
  src: url(../public/fonts/MPLUSRounded1c-Light.ttf);
}

@font-face {
  font-family: MPLUSRounded1c;
  font-weight: 400;
  src: url(../public/fonts/MPLUSRounded1c-Regular.ttf);
}

@font-face {
  font-family: MPLUSRounded1c;
  font-weight: 500;
  src: url(../public/fonts/MPLUSRounded1c-Medium.ttf);
}

@font-face {
  font-family: MPLUSRounded1c;
  font-weight: 700;
  src: url(../public/fonts/MPLUSRounded1c-Bold.ttf);
}

@font-face {
  font-family: MPLUSRounded1c;
  font-weight: 900;
  src: url(../public/fonts/MPLUSRounded1c-Black.ttf);
}

:root {
  --primary-color: #bb2c2b; /* Красный цвет для акцентов */
  --secondary-color: #8f2e2b; /* Серый цвет для фона */
  --text-color: #000000; /* Белый цвет для текста */
  --background-color: #b6b5b5; /* Светлый серый для фона */
  --highlight-color: #f6f5f5; /* Дополнительный цвет для выделения */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-family: 'MPLUSRounded1c', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1400px;
  margin: auto;
}
/* bb2c2b red 
8f2e2b dark red
b6b5b5 gray
f6f5f5 light gray */

/* X-Small — ширина менее 576 пикселей;
Small — не менее 576 пикселей;
Medium — не менее 768 пикселей;
Large — не менее 992 пикселей;
Extra large — не менее 1200 пикселей;
Extra extra large — не менее 1400 пикселей.  */